version: '2.1'

services:
  site-counter-app:
    container_name: sitecounter
    image: arthurkenotieno/site-counter-app
    #build: .
    # You don't need the build context since this image will be pushed to the container registry
    environment:
      NODE_ENV: production
      REDIS_URL: redis://cache
    ports:
      - 3080:3080
    depends_on: 
      - redis

  redis:
    image: redis:latest
    container_name: redisdb
    ports: 
      - 6379:6379

  ouroboros:
    container_name: ouroboros
    image: pyouroboros/ouroboros
    env_file: ./ouroboros.env
    volumes: 
      - /var/run/docker.sock:/var/run/docker.sock